* {
  font-family: helvetica, arial, sans-serif;
  margin: auto;
  text-align: center;
}
.mainBox {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cardsBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height: 650px;
  width: 650px;
}
.cardBox {
  background-color: black;
  color: white;
  font-weight: bold;
  height: 150px;
  width:150px;
}
.filter {
  background-color: black;
  filter:blur(5px);
  height: 100%;
  opacity: 0.2;
  position:absolute;
  left: -10%;
  right: -10%;
  top: -1%;
  height: 105%;
  width: 110%;
  z-index: 1000;
}
.flagImg {
  border: solid;
  border-color: black;
  height: 95px;
  max-width: 140px;
}
.scoreboard {
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 10px;
  width: 600px;
}
.scoreDiv {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 150px;
}
.currentScore {
  justify-content: flex-start;
}
.bestScore {
  justify-content: flex-end;
}
.scoreSubdiv {
  margin: 0 0 0 0;
}
.flagText {
  position: relative;
  bottom: -10px;
}
.messageBox {
  background-color: rgb(250, 213, 0);
  outline-style:dashed;
  outline-width: 50px;
  outline-color: rgb(250, 213, 0);
  border-radius: 50%;
  font-size: larger;
  position:absolute;
  left: 0;
  right: 0;
  top: 150px;
  height: 325px; 
  width: 325px;
  z-index: 1001;
}
.messageTitle {
  font-weight: bold;
  margin-top: 20%;
}
.messageText {
  margin-top: 5%;
  width: 275px;
}
.messageBtn {
  background-color: orangered;
  border-color: black;
  border-radius: 15px;
  font-size:larger;
  margin-top: 5%;
}
@media only screen and (min-width: 1800px) {
  h1 {
    font-size: 40px;
  }
  .cardsBox {
    height: 1000px;
    width: 1000px;
  }
  .cardBox {
    height: 240px;
    width:240px;
  }
  .flagImg {
    height: 145px;
    max-width: 200px;
  }
  .scoreboard {
    top: 15px;
    width: 900px;
  }
  .scoreDiv {
    font-size: 32px;
    width: 300px;
  }
  .flagText {
    bottom: -20px;
    font-size: 32px;
  }
  .messageBox {
    outline-width: 100px;
    top: 200px;
    height: 500px; 
    width: 500px;
  }
  .messageTitle {
    font-size: 32px;
  }
  .messageText {
    font-size: 32px;
    width: 450px;
  }
  .messageBtn {
    font-size:36px  ;
  }
}