* {
  margin: auto;
  text-align: center;
}

.cardsBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height: 650px;
  width: 650px;
}
.cardBox {
  background-color: black;
  color: white;
  font-weight: bold;
  height: 150px;
  width:150px;
}
.flagImg {
  border: solid;
  border-color: black;
  height: 95px;
  max-width: 140px;
}
.scoreboard {
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 10px;
  width: 600px;
}
.scoreDiv {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 150px;
}
.currentScore {
  justify-content: flex-start;
}
.bestScore {
  justify-content: flex-end;
}
.scoreSubdiv {
  margin: 0 0 0 0;
}
.flagText {
  position: relative;
  bottom: -10px;
}
.messageBox {
  background-color: rgb(250, 213, 0);
  outline-style:dashed;
  outline-width: 50px;
  outline-color: rgb(250, 213, 0);
  border-radius: 50%;
  font-size: larger;
  position:absolute;
  left: 35%;
  top: 20%;
  height: 325px; 
  width: 325px;
}
.messageTitle {
  font-weight: bold;
  margin-top: 20%;
}
.messageText {
  margin-top: 5%;
  width: 275px;
}
.messageBtn {
  background-color: orangered;
  border-color: black;
  border-radius: 15px;
  font-size:larger;
  margin-top: 5%;
}